@{
    ViewData["Title"] = "DetalleJuego";
}
<div class="text-center">
    <img src="/FotoJuego/@ViewBag.DetalleJuego.Portada" alt="@ViewBag.DetalleJuego.Nombre" width="340" height="340">
    <h1>@ViewBag.DetalleJuego.Nombre</h1>
</div>
<<<<<<< HEAD
<div class="cotainer-fluid">
    <h4>@ViewBag.DetalleJuego.Informacion</h4>
</div>
<a href ='@Url.Action("AgregarFavorito","Home",new {IdJuego=@ViewBag.DetalleJuego.IdJuego})'><img src="/botones/AGREGARFAVORITO.png"></a>
=======
<div class="texto">
    <div class="text-left" style="color: #FFFFFF;">
        <h4>@ViewBag.DetalleJuego.Informacion</h4>
    </div>
</div>
>>>>>>> bde071c2926e9f2a544c33b5fb6fe61a8e4658c5
