@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="/logo.png">
</div>
<a href='@Url.Action("AgregarConsola","Home")'><center><img src="/botones/CREARCONSOLA.png" width="15%" height="15%"></center></a>
<div class="row">
    @{
        foreach (Consola objConsola in ViewBag.Consolas){
            <div class="col-md-2 col-6">
                <div class="card">
                    <img class="card-img-top" src="/FotoConsola/@objConsola.Portada" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@objConsola.Nombre</h5>
                            <a href ='@Url.Action("DetalleConsola","Home",new {IdConsola=objConsola.idConsola})'><img src="/botones/VERINFO.png" class="w-100"></a>
                            <a href data-toggle="modal" data-target="#Modal" onclick="MostrarInformacionConsola(@objConsola.idConsola)"><img src="/botones/VERMODAL.png" class="w-100"></a>
                    </div>
                </div>
            </div>
        }
    }
</div>
  <div class="text-center">
    <h1>Todos los juegos</h1>
  </div>
<a href='@Url.Action("AgregarJuego","Home")'><center><img src="/botones/CREARJUEGO.png" width="15%" height="15%"></center></a>
<div class="row">
    @{
        foreach (Juego objJuego in ViewBag.Juegos){
            <div class="col-md-2 col-6">
                <div class="card" >
                    <img class="card-img-top" src="/FotoJuego/@objJuego.Portada" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">@objJuego.Nombre</h5>
                        <div class="text-center">
                            <a href ='@Url.Action("DetalleJuego","Home",new {IdJuego=objJuego.IdJuego})'><img src="/botones/VERINFO.png" class="w-100"></a>
                            <a href data-toggle="modal" data-target="#Modal" onclick="MostrarInformacionJuego(@objJuego.IdJuego)"><img src="/botones/VERMODAL.png" class="w-100"></a>
                          </div>
                    </div>
                </div>
            </div>
        }
    }   
</div>
@* Modal *@
<div class="modal fade" id="Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="Titulo-Modal">Modal Title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="Informacion"></div>
        <br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>